/* Work Sans Font Link  */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,600;1,100;1,200;1,300;1,400;1,700;1,800&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}
/* Header Section Start */
header{
  background-color: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
nav{
  display: flex;
  justify-content: space-between;
}
nav ul{
  display: flex;
  align-items: center;
}
nav h2{
  font-size: 2.8em;
  color: #131313;
  font-weight: 700;
}
nav ul li{
  margin-right: 20px;
}
nav ul li a{
  font-size: 20px;
  font-weight: 500;
  color: #424242;
}
.banner{
  margin-top: 50px;
  text-align: center;
}
.banner-text{
  width: 830px;
}
.banner-text h1{
  font-size: 4em;
  color: #131313;
  font-weight: 700;
}
.banner-text p{
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #727272; 
  line-height: 26px;
}
.btn{
  margin-bottom: 30px;
  background-color: #FF900E;
  padding: 20px 25px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}
.banner img{
  width: 100%;
}
/* Header section End */

/* Main Section Start */
main{
  padding: 40px 30px;
}
.features{
  display: flex;
  align-items: center;
  gap: 70px;
}
.features-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 24px;
}
.features-text{
  width: 500px;
}
.features-text h2{
  font-size: 3.4em;
}
.color{
  color: #FF900E;
}
.features-text p{
  font-size: 1.1em;
  color: #727272;
  margin-top: 20px;
  line-height: 26px;
  margin-bottom: 15px;
}

.features2{
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.features2 h2{
  font-size: 3em;
  margin-top: 20px;
}
.features2 p{
  font-size: 1em;
  color: #727272;
  line-height: 26px;
}
.text{
  padding-top: 80px;
}






 /* Media Quary */
@media screen and (max-width:576px) {
  header{
    padding: 20px
  }
  nav {
    text-align: center;
  }
  nav ul li{
    display: none;
  }
  
.features{
  padding: 10px 50px;
  flex-direction: column;
}
.features-text{
  text-align: center;
  padding: 10px;
}
.features-img{
  grid-template-columns: 1fr;
}
.features2{
  flex-direction: column;
  text-align: center;
}
} 
/* Facts Section */
.facts-section{
  margin-top: 50px;
}
.facts-section h1{
  font-size: 3em;
}
.facts-section p{
  margin-top: 20px;
}
.facts-all-iteam{
  display: flex;
  justify-content: space-between;
  padding: 35px 50px;
  text-align: center;
}
.facts-iteam{
  border: 2px solid #FF900E;
  padding: 35px 50px;
  border-radius: 10px;
}
.facts-iteam h3{
  font-size: 2em;
  padding: 10px;
  color: #727272;
  font-weight: bold;
}
.facts-iteam h5{
  font-size: 1.2em;
  color: #727272;
}
/* Facts Section End */



/* Medium Device */
@media screen and (min-width:576px) and (max-width:960px) {
  header{
    padding: 30px;
  }
}